<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text=""></ion-back-button>
        </ion-buttons>
        <ion-title>编辑记事</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item>
            <ion-label>标题</ion-label>
            <ion-input [(ngModel)]="note.title"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>时间</ion-label>
            <ion-input [(ngModel)]="note.datetime"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>内容</ion-label>
            <ion-input [(ngModel)]="note.content"></ion-input>
        </ion-item>
        <ion-button expand="block" (click)="save()">保存</ion-button>
    </ion-list>
</ion-content>